.about-shape {
  border-radius: 79px 81px 151px 42px;
  -webkit-border-radius: 79px 81px 151px 42px;
  -moz-border-radius: 79px 81px 151px 42px;
}

.btn-cl {
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
